/*This code is designed to replicate Hedra page 25*/

/* I add box sizing so the padding and border is included in all items 
    width and height.*/
*{
    box-sizing: border-box;
    margin: 0;
}

/* Define custom colors and borders */
:root{
    --color-one: rgb(0,0,0); 
    --color-two: rgb(100,100,100);
    --color-three: rgb(180,180,180);
    --color-four: rgb(240,240,240);
    --border-one: dashed 2px white;
}
/* Create background container grid and set the width and height
    so that the grid created will be squares. I use repeat to create 
    n amount of fraction divisions. */
#grid-container-bg{
    width: 71vw;
    height: 100vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 15px;
}

/* Set all grid items to have a border and set the background color of
    all items*/
.grid-item-one{
    background-color: var(--color-three);
    border-style: solid;
    border-width: 3px;
}

/* I remove border edges on certain grid items and add a 
    border radius on others.  */
#box-1-1{
    border-bottom: 0;
    border-right: 0;
}

#box-1-2{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
#box-1-3{
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 100px 0 0;
}
#box-1-4{
    border-bottom: 0;
    border-right: 0;
    border-radius: 100px 0 0 0;
}
#box-1-5{
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 100px 0 0;
}
#box-2-1{
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}
#box-2-2{
    border: 0;
}
#box-2-3{
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}
#box-2-4{
    border-top: 0;
    border-bottom: 0;
}
#box-2-5{
    border-top: 0;
    border-bottom: 0;
}
#box-3-1{
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}
#box-3-2{
    border: 0;
}
#box-3-3{
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}
#box-3-4{
    border-top: 0;
    border-bottom: 0;
}
#box-3-5{
    border-top: 0;
    border-bottom: 0;
}
#box-4-1{
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 100px;
}
#box-4-2{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
#box-4-3{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
#box-4-4{
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 100px 0;
}
#box-4-5{
    border-top: 0;
    border-bottom: 0;
}
#box-5-1{
    border-bottom: 0;
    border-right: 0;
    border-radius: 100px 0 0 0;
}
#box-5-2{
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 100px 0 0;
}
#box-5-3{
    border-bottom: 0;
    border-right: 0;
    border-radius: 100px 0 0 0;
}
#box-5-4{
    border-left: 0;
    border-right: 0;
}
#box-5-5{
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 100px 0;
}
#box-6-1{
    border-top: 0;
    border-bottom: 0;
}
#box-6-2{
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 100px;
}
#box-6-3{
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 100px 0;
}
#box-6-4{
    border-bottom: 0;
    border-right: 0;
    border-radius: 100px 0 0 0;
}
#box-6-5{
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 100px 0 0;
}
#box-7-1{
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 100px;
}
#box-7-2{
    border-left: 0;
    border-right: 0;
}
#box-7-3{
    border-left: 0;
    border-right: 0;
}
#box-7-4{
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 100px 0;
}
#box-7-5{
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 100px;
}

